
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Scrum</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Domov</a>
              </li>
              {% if user1 %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Odjava: {{ user1 }}</a>
                </li>
                {% if admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Registriraj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/allusers">Vsi uporabniki</a>
                    </li>
                {% endif %}
              {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Prijavi se</a>
                </li>
              {% endif %}
              {% if user1 %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{id}}/edit">Moj profil</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-1 d-flex flex-column flex-shrink-0 p-3 bg-light" id="green">
                <!-- Navigation links in sidebar-->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'new_project' %}" class="nav-link">Projekt</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'new_user_story' %}" class="nav-link">Uporabniška zgodba</a>
                    </li>
                </ul>
            </div>
            <!--Contains the main content
                    of the webpage-->
            <div class="col-11" style="text-align: justify;">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    <br/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>