{% extends 'base-v1.html' %}
{% load static %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sprint Add</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'project_name' project.name %}">{{project.name}}</a></li>
                    <li class="breadcrumb-item active">Sprint Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Sprint</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'create_sprint' project.name %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a href="{% url 'project_name' project.name %}" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Create" class="btn btn-success float-right">
                    </form>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

    <!--<script>
        console.log('Hello');
        document.addEventListener('DOMContentLoaded', function() {
            var form = document.getElementById('sprint-form');
            console.log(form);
            // Get references to the start date and end date input fields
            var startDateInput = form.querySelector('#id_start_date');
            console.log(startDateInput);
            var endDateInput = form.querySelector('#id_end_date');
            var velocityInput = form.querySelector('#id_velocity');
            console.log(velocityInput);
            // Function to add working days to a date
            function addWorkingDays(startDate, numWorkingDays) {
                var currentDate = new Date(startDate);
                var workingDaysAdded = 0;

                while (workingDaysAdded < numWorkingDays) {
                    currentDate.setDate(currentDate.getDate() + 1); // Move to the next day

                    // Check if the current day is a working day (Monday to Friday)
                    if (currentDate.getDay() !== 0 && currentDate.getDay() !== 6) {
                        workingDaysAdded++;
                    }
                }

                return currentDate;
            }
        
            // Add event listener to the start date input field
            startDateInput.addEventListener('change', function() {
                // Get the selected start date value
                var startDateValue = startDateInput.value;
        
                // Perform any logic here to calculate the end date
                // For example, you can add a fixed number of days to the start date
                //var endDateValue = new Date(startDateValue);
                //endDateValue.setDate(endDateValue.getDate() + 14); // Adding 14 days

                var endDateValue = addWorkingDays(startDateValue, velocityInput.value);


        
                // Format the end date value as YYYY-MM-DD
                var formattedEndDate = endDateValue.toISOString().slice(0, 10);
        
                // Update the end date input field value
                endDateInput.value = formattedEndDate;
            });
        });
    </script>-->  
