{% extends 'base-v1.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sprints</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'project_name' project.name %}">{{project.name}}</a>
                    </li>
                    <li class="breadcrumb-item active">Sprints</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    {% if create_sprint %}
    <div class="row">
        <div class="col-12">
            <a href="{% url 'new_sprint' project.name %}"><button type="button" class="btn btn-success"><i
                        class="fa fa-plus" style="margin-right: 5px;"></i>Create New Sprint</button></a>
        </div>
    </div>
    </br>
    {% endif %}
    <!-- Default box -->
    {% for sprint, userstory_table,accepted_userstories,unaccepted_userstories, deleteable, sprint_status in sprint_tables %}
        {% if sprint_status == 'Active' %}
            <div class="card collapsed-card">
                <a href="{% url 'sprint_details' project.name sprint.id %}" style="color:rgb(0, 0, 0)">
                    <div class="card-header sprint_header_custom">
                        <h3 class="card-title">#{{sprint.id}} Sprint: {{ sprint.start_date }} - {{ sprint.end_date }}</h3>
                        <div class="card-tools">
                            <a class="btn btn-info btn-sm" href="{% url 'sprint_edit' project.name sprint.id %}"><i class="fas fa-pencil-alt" style="margin-right:2px"></i>Edit</a>
                            <label>{{sprint_status}}</label>
                        </div>
                    </div>
                </a>
                <div class="card-body p-0">
                </div>
                <!-- /.card-body -->
            </div>
        {% endif %}
    {% endfor %}

    {% for sprint, userstory_table,accepted_userstories,unaccepted_userstories, deleteable, sprint_status in sprint_tables %}
        {% if sprint_status != 'Active' %}
            <div class="card collapsed-card">
                <a href="{% url 'sprint_details' project.name sprint.id %}" style="color:black">
                    <div class="card-header sprint_header_custom">
                        <h3 class="card-title">#{{sprint.id}} Sprint: {{ sprint.start_date }} - {{ sprint.end_date }}</h3>
                        <div class="card-tools">
                            <a class="btn btn-info btn-sm" href="{% url 'sprint_edit' project.name sprint.id %}"><i class="fas fa-pencil-alt" style="margin-right:2px"></i>Edit</a>
                            <label>{{sprint_status}}</label>
                        </div>
                    </div>
                </a>
                <div class="card-body p-0">
                </div>
                <!-- /.card-body -->
            </div>
        {% endif %}
    {% endfor %}
</section>
{% endblock %}