{% extends 'base.html' %}

{% block title %}
Project {{project.name}}
{% endblock %}

{% block content %}
<h2>Project {{project.name}}</h2>
    <a href= '/project/{{project.name}}/wall/'><button type='submit'>Wall</button></a>
    {% if editable %}
    <a href= '/project/{{project.name}}/edit'><button type='submit'>Edit</button></a>
    {% endif %}
    <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form> -->
    
    <h3>Sprints</h3>
    <a href= '/project/{{project.name}}/new_sprint/'><button type='submit'>Create Sprint</button></a>
    {% for sprint in sprints %}
    <a href='/project/{{project.name}}/sprint/{{sprint.id}}'>
        <div class="card d-flex justify-content-between align-items-center">
            <p class="mb-0">Start Date: <span class="font-weight-bold">{{ sprint.start_date }}</span></p>
            <p class="mb-0">End Date: <span class="font-weight-bold">{{ sprint.end_date }}</span></p>
        </div>
    </a>
    {% endfor %}
    <h3>User stories</h3>
    <a href="{% url 'new_user_story' %}"><button type='submit'>New User Story</button></a>
    {% load django_tables2 %}
    {% render_table user_story_table  %}
{% endblock %}

