{% extends 'base-v1.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sprints</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'project_name' project.name %}">{{project.name}}</a></li>
                    <li class="breadcrumb-item active">Sprints</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    {% if create_sprint %}
    <div class="row">
        <div class="col-12">
            <a href="{% url 'new_sprint' project.name %}"><button type="button" class="btn btn-success"><i class="fa fa-plus"
                        style="margin-right: 5px;"></i>Create New Sprint</button></a>
        </div>
    </div>
    </br>
    {% endif %}
    <!-- Default box -->
    {% for sprint, userstory_table,accepted_userstories,unaccepted_userstories, deleteable, sprint_status in sprint_tables %}
    <div class="card">
        <a href="{% url 'sprint_details' project.name sprint.id %}" style="color:black">
        <div class="card-header sprint_header_custom">
            <h3 class="card-title">Sprint: {{ sprint.start_date }} - {{ sprint.end_date }}</h3>
            <div class="card-tools">
                <label>{{sprint_status}}</label>
            </div>
        </div>
        </a>
        <div class="card-body p-0">
        </div>
        <!-- /.card-body -->
    </div>
    {% endfor %}
</section>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Backlog</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    {% if new_user_story_enabled %}
    <div class="row">
        <div class="col-12">
            <a href="{% url 'new_user_story' project.name %}"><button type="button" class="btn btn-success"><i class="fa fa-plus"
                        style="margin-right: 5px;"></i>Create New User Story</button></a>
        </div>
    </div>
    </br>
    {% endif %}
    <!-- /.card -->
    <!-- Default box -->
    <div class="card collapsed-card">
        <div class="card-header">
            <h3 class="card-title">Active User Stories</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        {% if active_stories.rows %}
        <div class="card-body p-0">
            {% render_table active_stories %}
        </div>
        {% endif %}
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- Default box -->
    <div class="card collapsed-card">
        <div class="card-header">
            <h3 class="card-title">Backlog User Stories</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        {% if backlog_stories.rows %}
        <div class="card-body p-0">
            {% render_table backlog_stories %}
        </div>
        {% endif %}
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- Default box -->
    <div class="card collapsed-card">
        <div class="card-header">
            <h3 class="card-title">Accepted User Stories</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        {% if accepted_stories.rows %}
        <div class="card-body p-0">
            {% render_table accepted_stories %}
        </div>
        {% endif %}
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
{% endblock %}
