{% extends 'base-v2.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Projects</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    {% if admin %}
    <div class="row">
        <div class="col-12">
            <a href="{% url 'new_project' %}"><button type="button" class="btn btn-success"><i class="fa fa-plus"
                        style="margin-right: 5px;"></i>Create New Project</button></a>
        </div>
    </div>
    </br>
    {% endif %}
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">My Projects</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table tabela %}
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- Default box -->
    {% if admin %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Other Projects</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table tabela_other %}
        </div>
        <!-- /.card-body -->
    </div>
    {% endif %}
    <!-- /.card -->
</section>
<!-- /.content -->
{% endblock %}