{% extends 'base.html' %}

{% block title %}
Sprint {{sprint.id}}
{% endblock %}

{% block content %}
{% load django_tables2 %}
<h3>Sprint: {{ sprint.start_date }} - {{ sprint.end_date }}</h3>
<h4>Velocity: {{sprint.velocity}} (pts)</h4>
{% if show_edit %}
<a role="button" href="/project/{{project_name}}/sprint/{{sprint.id}}/edit" class="btn btn-primary">Edit</a>
<a id="delete-button" role="button" href="/delete_sprint/{{project_name}}/{{sprint.id}}" class="btn btn-danger">Delete sprint</a>
{% endif %}
{% if unaccepted_userstories.rows %}
<h4>Stories in progress</h4>
{% render_table unaccepted_userstories %}
{% endif %}
{% if accepted_userstories.rows %}
<h4>Accepted Stories</h4>
{% render_table accepted_userstories %}
{% endif %}

{% endblock %}