{% extends 'base.html' %}

{% block title %}
Sprint {{sprint.id}}
{% endblock %}

{% block content %}
<p>Začetek: {{sprint.start_date}}</p>
<p>Konec: {{sprint.end_date}}</p>
<p>Trajanje: {{sprint.duration}} dni</p>
{% if show_edit %}
<a role="button" href="/project/{{project_name}}/sprint/{{sprint.id}}/edit" class="btn btn-primary">Uredi</a>
<a id="delete-button" role="button" href="/project/{{project_name}}/sprint/{{sprint.id}}" class="btn btn-danger">Izbriši sprint</a>
{% endif %}

<div class="row">
    <div class="col-md-4">
        <!-- First column content -->
        <p>Sprint</p>
    </div>
    <div class="col-md-4">
        <!-- Second column content -->
        <p>V procesu razvijanja</p>
    </div>
    <div class="col-md-4">
        <!-- Third column content -->
        <p>Končan</p>
    </div>
</div>

{% endblock %}