{% extends 'base-v1.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sprint Backlog</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'project_name' project.name %}">{{project.name}}</a></li>
                    <li class="breadcrumb-item active">Sprint Backlog</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <!-- /.card -->
    <!-- Default box -->
    <h5 class="mb-2">Unaccepted User Stories</h5>
    {% for table, user_story in user_stories %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{user_story.name}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table table %}
        </div>
        <!-- /.card-body -->
    </div>
    {% endfor %}
    <h5 class="mb-2">Accepted User Stories</h5>
    {% for table, user_story in user_stories1 %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{user_story.name}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table table %}
        </div>
        <!-- /.card-body -->
    </div>
    {% endfor %}
    <!-- /.card -->
</section>
<!-- /.content -->
{% endblock %}
