{% extends 'base-v1.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User Story #{{user_story.story_number}}: {{user_story.name}}</h1>
                <h1>Time spent: {{total_logged_time}}</h1>
                <h1>Time left: {{total_time_to_finish}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'project_name' project.name %}">{{project.name}}</a></li>
                    <li class="breadcrumb-item active">{{user_story.name}}</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <!-- /.card -->
    <!-- Default box -->
    <h5 class="mb-2">User Story Info</h5>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{user_story.name}}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table user_story_info_table %}
        </div>
        <!-- /.card-body -->
    </div>
</section>


<section class="content">
    <!-- /.card -->
    <!-- Default box -->

    <div class="card" style="background-color: rgba(255, 179, 0, 0.2);">
        <div class="card-header">
            <h3 class="card-title" style = "color: rgb(0, 0, 0);">Uncompleted Tasks</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table tasks_table_uncompleted %}
        </div>
        <!-- /.card-body -->
    </div>



    <div class="card" style="background-color: rgba(0, 255, 13, 0.2);">
        <div class="card-header">
            <h3 class="card-title" >Completed Tasks</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table tasks_table_completed %}
        </div>
        <!-- /.card-body -->
    </div>

    {%if tasks_table_rejected.rows%}
    <div class="card" style="background-color: rgba(247, 0, 255, 0.2);">
        <div class="card-header">
            <h3 class="card-title">Rejected Tasks</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table tasks_table_rejected %}
        </div>
        <!-- /.card-body -->
    </div>
    {%endif%}
    {%if tasks_table_deleted.rows%}
    <div class="card" style="background-color: rgba(255, 0, 0, 0.2);">
        <div class="card-header">
            <h3 class="card-title">Deleted Tasks</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            {% render_table tasks_table_deleted %}
        </div>
        <!-- /.card-body -->
    </div>
    {%endif%}



</section>






{% endblock %}

