{% extends 'base.html' %}

{% block title %}
Project {{project.name}}
{% endblock %}

{% block content %}
<h2>Project #{{project.id}}: <a href = '/project/{{project.name}}/'>{{project.name}}</a></h2>
<h3>User Story #{{user_story.story_number}}: {{user_story.name}}</h3>
{%if not accepted%}
{%if new_task_button%}
<a href='/project/{{project.name}}/new_task/{{user_story.id}}/'><button type='submit'>New Task</button></a>
{%endif%}
<h3>Uncompleted Tasks</h3>
{% load django_tables2 %}
{% if tasks_table_uncompleted.rows %}
{% render_table tasks_table_uncompleted  %}
{% endif %}
{% endif %}

<h3>Completed Tasks</h3>
{% if tasks_table_completed.rows %}
{% render_table tasks_table_completed  %}
{% endif %}

{% if tasks_table_rejected.rows %}
<h3>Rejected Tasks</h3>
{% render_table tasks_table_rejected  %}
{% endif %}

{% endblock %}

